@use '../../../styles/var' as *;

.laptop {
    min-height: 350px;
    min-width: 500px;
}

  .container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      z-index: -1;
      position: absolute;
      content: '';
      height: 75%;
      width: 100%;
      background: $richblack;
      border-radius: 16px;
    }
    
  }